{{#section 'js'}}
    <script>
        const test = function () {
            const countDate = new Date("{{this.product.EndDate}}").getTime();
            const now = new Date().getTime();
            const gap = countDate - now;

            const second = 1000;
            const minute = second * 60;
            const hour = minute * 60;
            const day = hour * 24;

            let textDay = Math.floor(gap / day);
            let textHour = Math.floor((gap % day) / hour);
            let textMinute = Math.floor((gap % hour) / minute);
            let textSecond = Math.floor((gap % minute) / second);

            if (textDay < 0) {
                textDay = 0;
            }
            if (textHour < 0) {
                textHour = 0;
            }
            if (textMinute < 0) {
                textMinute = 0;
            }
            if (textSecond < 0) {
                textSecond = 0;
            }

            let timeOut = false;
            if (textDay === 0 && textHour === 0 && textMinute === 0 && textSecond === 0) {
                timeOut = true;
            }

            if (!timeOut) {
                document.querySelector(".day").innerText = textDay;
                document.querySelector(".hour").innerText = textHour;
                document.querySelector(".minute").innerText = textMinute;
                document.querySelector(".second").innerText = textSecond;
            } else {
                $("#duration").empty();
                const message = `<p class="text-2xl font-semibold text-red-500">Time out</p>`;
                $("#duration").append(message);
            }
        };
        setInterval(test, 1000);
    </script>
    <script>
        document.body.appendChild(document.createElement('script')).src = 'https://unpkg.com/sweetalert/dist/sweetalert.min.js';
        $('#formPlaceBid').on('submit', function (event) {
            event.preventDefault();
            const queryPrice = document.getElementById('txtPlaceBid').value;
            const stepPrice = document.getElementById('txtStepPrice').value;
            const startPrice = document.getElementById('txtStartPrice').value;
            const currentPrice = document.getElementById('txtCurrentPrice').value;
            const pro = {{this.product.ProID}};

            const check = +queryPrice - +startPrice;
            if (queryPrice.length < 1) {
                swal('Please fill the price!');
                return;
            }
            if (+queryPrice <= +currentPrice) {
                swal('Your bidding must exceed current price!');
                return;
            }
            if (check % +stepPrice !== 0) {
                swal('Please follow our step price!');
                return;
            }

            $.getJSON(`/product/check-bid/?pro=${pro}&price=${queryPrice}`, function (data) {
                if (data === false) {
                    swal("Sorry!", "There is someone who is willing to pay more!", "warning").then((value) => {
                        $('#formPlaceBid').off('submit').submit();
                        return;
                    });
                } else {
                    swal("Congrats!", "Your bid is accepted!", "success").then((value) => {
                        $('#formPlaceBid').off('submit').submit();
                        return;
                    });
                }
            });
        });
    </script>
{{/section}}

<div class=" container mx-auto xl:px-10 py-1 text-xs font-medium flex mt-2 justify-start text-cyan-800">
    <a class="  uppercase" href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
    <div class=" ml-3">></div>
    <a class=" uppercase ml-3" href="/product/byCat/{{this.product.CatID}}">{{this.product.CatName}}</a>
</div>
<div class=" container mx-auto xl:px-10 mt-3">

    <input hidden id="txtStepPrice" value="{{this.product.StepPrice}}">
    <input hidden id="txtStartPrice" value="{{this.product.StartPrice}}">

    {{#if this.biddingHighest}}
        <input hidden id="txtCurrentPrice" value="{{this.biddingHighest.Price}}">
    {{else}}
        <input hidden id="txtCurrentPrice" value="{{this.product.StartPrice}}">
    {{/if}}

    <div class=" uppercase text-2xl font-bold">{{this.product.ProName}}</div>
    <div class="flex justify-start text-sm font-medium items-center mt-2 text-cyan-900">
        <div class="px-3 border border-cyan-700 rounded-full">100% Authentic</div>
        <div class="px-3 border border-cyan-700 rounded-full ml-2">New: 80%</div>
    </div>
    <div class="grid grid-cols-12 gap-6 mt-4">
        <div class="col-span-full md:col-span-7">
            <div class="slider-for">
                <img src="/public/images/Product/{{this.product.BigCatName}}/{{this.product.CatName}}/{{this.product.ProID}}/1.jpg?auto=compress&w=480&q=90&dpr=2&updated_at=1635280285&h=320&fm=webp"
                     alt="Sunset in the mountains" class=" object-cover object-center h-full w-full max-h-96">
                <img src="/public/images/Product/{{this.product.BigCatName}}/{{this.product.CatName}}/{{this.product.ProID}}/2.jpg"
                     alt="Sunset in the mountains" class=" object-cover object-center h-full w-full max-h-96">
                <img src="/public/images/Product/{{this.product.BigCatName}}/{{this.product.CatName}}/{{this.product.ProID}}/3.jpg"
                     alt="Sunset in the mountains" class=" object-cover object-center h-full w-full max-h-96">
                <img src="/public/images/Product/{{this.product.BigCatName}}/{{this.product.CatName}}/{{this.product.ProID}}/4.jpg"
                     alt="Sunset in the mountains" class=" object-cover object-center h-full w-full max-h-96">
            </div>
        </div>
        <div class="col-span-5 text-xs hidden md:flex md:items-center">
            <div class="w-full">
                {{#if this.product.Onair}}
                    <div class=" border border-cyan-700 rounded-md p-4">
                        <div x-data="{ wish: false }">
                            <div class="flex items-center justify-between">
                                <div class="flex" id="duration">
                                    <div class=" text-black text-base font-semibold flex">
                                        <h3 class="day">Time</h3>
                                        <p class="mr-1"> d</p>
                                    </div>
                                    <div class=" text-black text-base font-semibold flex">
                                        <h3 class="hour">Time</h3>
                                        <p class="mr-1">h</p>
                                    </div>
                                    <div class=" text-black text-base font-semibold flex">
                                        <h3 class="minute">Time</h3>
                                        <p class="mr-1"> m</p>
                                    </div>
                                    <div class=" text-black text-base font-semibold flex">
                                        <h3 class="second">Time</h3>
                                        <p class="mr-1"> s</p>
                                    </div>
                                </div>

                                <form id="formAddWishList" action="/account/wishlist/add" method="post">
                                    <input x-show="false" name="ProID" value= {{this.product.ProID}}>
                                </form>

                                <form id="formDelWishList" action="/account/wishlist/del" method="post">
                                    <input x-show="false" name="ProID" value= {{this.product.ProID}}>
                                </form>

                                {{#if auth}}
                                    {{#if this.inWish}}
                                        <a href="javascript: $('#formDelWishList').submit();">
                                            <i class="fa fa-heart fa-2x cursor-pointer" style="color:red"
                                               aria-hidden="true"></i>
                                        </a>
                                    {{else}}
                                        <a href="javascript: $('#formAddWishList').submit();">
                                            <i class="fa fa-heart-o fa-2x cursor-pointer" aria-hidden="true"></i>
                                        </a>
                                    {{/if}}
                                {{else}}
                                    <a href="/login">
                                        <i class="fa fa-heart-o fa-2x cursor-pointer" aria-hidden="true"></i>
                                    </a>
                                {{/if}}

                            </div>
                            {{#if auth}}
                                <form id="formPlaceBid" method="post" action="/product/detail/{{this.product.ProID}}">
                                    <div x-data="{ open: false }" class="">
                                        <div x-show="open" class="grid grid-cols-3 gap-2 mb-2"
                                             @click.away="open = false"
                                             x-transition:enter="transition duration-300"
                                             x-transition:enter-start="opacity-0 transform scale-90"
                                             x-transition:enter-end="opacity-100 transform scale-100"
                                             x-transition:leave="transition duration-300"
                                             x-transition:leave-start="opacity-100 transform scale-100"
                                             x-transition:leave-end="opacity-0 transform scale-90">
                                            <input id="txtPlaceBid" name="queryPrice"
                                                   placeholder="Suggest price: {{format_number this.suggestPrice}}"
                                                   class="w-full col-span-2 border border-black rounded
                                            text-base font-semibold text-left px-2"
                                                   type="number">
                                            <div x-data="{ showModal : false }">
                                                <div @click="showModal = !showModal"
                                                     class="cursor-pointer font-semibold text-md  px-4 py-2  ml-2 bg-red-700
                                             text-white hover:bg-red-900 text-center">CONFIRM
                                                </div>
                                                <div x-show="showModal"
                                                     class="fixed flex items-center justify-center overflow-auto z-50 bg-black bg-opacity-40 left-0 right-0 top-0 bottom-0">
                                                    <div x-show="showModal"
                                                         class="bg-white shadow-2xl p-6 pb-4  w-auto mx-10 border border-cyan-700 rounded"
                                                         @click.away="showModal = false"
                                                         x-transition:enter="transition ease-out duration-300"
                                                         x-transition:enter-start="opacity-0 transform scale-90"
                                                         x-transition:enter-end="opacity-100 transform scale-100"
                                                         x-transition:leave="transition ease-in duration-300"
                                                         x-transition:leave-start="opacity-100 transform scale-100"
                                                         x-transition:leave-end="opacity-0 transform scale-90">
                                                        <div>Are you sure?</div>
                                                        <div class=" flex justify-end mt-4 space-x-4">
                                                            <button type="submit"
                                                                    class="font-semibold text-md px-6 py-2
                                                                border border-cyan-700 text-white bg-red-700">
                                                                Yes
                                                            </button>
                                                            <div @click="showModal = !showModal"
                                                                 class=" cursor-pointer font-semibold text-md  px-6 py-2 border border-cyan-700">
                                                                Cancel
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {{#if this.isRestrict}}
                                            <div class="text-left text-key font-semibold py-2 font-light">
                                                You are not allowed to place bid!
                                            </div>
                                            <div class=" flex items-center justify-between mt-1">
                                                <div class=" w-1/3 py-2 bg-gray-400">
                                                    <div class="disable text-center cursor-pointer font-semibold
                                                text-base text-white rounded">Place bid
                                                    </div>
                                                </div>
                                                <div
                                                        class="ml-4 text-xl text-key font-semibold">{{format_number
                                                        this.biddingHighest.Price}}</div>
                                            </div>
                                        {{else}}
                                            {{#if allowBid}}
                                                {{#if this.product.allowUser}}
                                                    <div class=" flex items-center justify-between mt-1">
                                                        <div @click=" open = !open " class=" w-1/3 py-2 bg-green-800">
                                                            <div class="text-center cursor-pointer font-semibold
                                                text-base text-white rounded">Place bid
                                                            </div>
                                                        </div>
                                                        {{#if this.biddingHighest}}
                                                            <div
                                                                    class="ml-4 text-xl text-key font-semibold">{{format_number
                                                                    this.biddingHighest.Price}}</div>
                                                        {{else}}
                                                            <div class="ml-4 text-xl text-key font-semibold ">{{format_number
                                                                    this.product.StartPrice}}</div>
                                                        {{/if}}
                                                    </div>
                                                {{else}}
                                                    <div class=" flex items-center justify-between mt-1">
                                                        <div class=" w-1/3 py-2 bg-gray-400">
                                                            <div class="disable text-center cursor-pointer font-semibold
                                                text-base text-white rounded">Place bid
                                                            </div>
                                                        </div>
                                                        <div class="text-right text-key font-semibold py-2 font-light">
                                                            Please gain more than 80% good ratings!
                                                        </div>
                                                    </div>
                                                {{/if}}
                                            {{else}}
                                                <div class="text-left text-key font-semibold py-2 font-light">
                                                    Your bid is currently the highest!
                                                </div>
                                                <div class=" flex items-center justify-between mt-1">
                                                    <div class=" w-1/3 py-2 bg-gray-400">
                                                        <div class="disable text-center cursor-pointer font-semibold
                                                text-base text-white rounded">Place bid
                                                        </div>
                                                    </div>
                                                    <div
                                                            class="ml-4 text-xl text-key font-semibold">{{format_number
                                                            this.biddingHighest.Price}}</div>
                                                </div>
                                            {{/if}}
                                        {{/if}}
                                    </div>
                                </form>

                            {{else}}
                                <div class=" flex items-center justify-between mt-1">
                                    <a class=" w-1/3 py-2 bg-green-800" href="/login">
                                        <div class=" font-semibold text-base text-white rounded text-center">Place bid
                                        </div>
                                    </a>
                                    {{#if this.biddingHighest}}
                                        <div class="ml-4 text-xl text-key font-semibold ">{{format_number
                                                this.biddingHighest.Price}}</div>
                                    {{else}}
                                        <div class="ml-4 text-xl text-key font-semibold ">{{format_number
                                                this.product.StartPrice}}</div>
                                    {{/if}}</div>
                            {{/if}}

                            <!--                        buy now-->
                            {{#if auth}}
                                {{#if this.isRestrict}}
                                    <div class=" flex items-center justify-between mt-1">
                                        <div class=" w-1/3">
                                            <div class="cursor-pointer disable font-semibold text-base text-white mt-1 py-2 bg-gray-500 text-center">
                                                Buy now
                                            </div>
                                        </div>
                                        <div class="ml-4 text-xl text-key font-semibold ">{{format_number
                                                this.product.SellPrice}}</div>
                                    </div>
                                {{else}}
                                    {{#if this.product.allowUser}}
                                        <div class="mt-2 flex items-center justify-between">
                                            <div x-data="{ showModal : false }" class="w-1/3">
                                                <div @click="showModal = !showModal"
                                                     class="cursor-pointer font-semibold text-base text-white mt-1 py-2 bg-red-500 text-center">
                                                    Buy now
                                                </div>
                                                <div x-show="showModal"
                                                     class="fixed flex items-center justify-center overflow-auto z-50 bg-black bg-opacity-40 left-0 right-0 top-0 bottom-0">
                                                    <div x-show="showModal"
                                                         class="bg-white shadow-2xl p-6 pb-4  w-auto mx-10 border border-cyan-700 rounded"
                                                         @click.away="showModal = false"
                                                         x-transition:enter="transition ease-out duration-300"
                                                         x-transition:enter-start="opacity-0 transform scale-90"
                                                         x-transition:enter-end="opacity-100 transform scale-100"
                                                         x-transition:leave="transition ease-in duration-300"
                                                         x-transition:leave-start="opacity-100 transform scale-100"
                                                         x-transition:leave-end="opacity-0 transform scale-90">
                                                        <div>Are you sure?</div>
                                                        <div class=" flex justify-end mt-4 space-x-4">
                                                            <form method="post" action="/product/buynow">
                                                                <input hidden name = "ProID" value = {{this.product.ProID}}>
                                                                <input hidden name = "CurrentWinner" value = {{this.biddingHighest.Bidder}}>
                                                                <button type ="submit"
                                                                        class="font-semibold text-md  px-6 py-2  border border-cyan-700 text-white  bg-red-700">
                                                                    Buy now
                                                                </button>
                                                                <div @click="showModal = !showModal"
                                                                     class=" cursor-pointer font-semibold text-md  px-6 py-2 border border-cyan-700">
                                                                    Cancel
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ml-4 text-xl
                                text-red-600 font-semibold ">{{format_number this.product.SellPrice}}</div>
                                        </div>
                                    {{else}}
                                        <div class=" flex items-center justify-between mt-1">
                                            <div class=" w-1/3">
                                            <div class="cursor-pointer disable font-semibold text-base text-white mt-1 py-2 bg-gray-500 text-center">
                                                Buy now
                                            </div>
                                        </div>
                                        <div class="ml-4 text-xl text-key font-semibold ">{{format_number
                                                this.product.SellPrice}}</div>
                                    </div>
                                    {{/if}}
                                {{/if}}
                            {{else}}
                                <div class=" flex items-center justify-between mt-1">
                                    <a class=" w-1/3" href="/login">
                                        <div class="cursor-pointer font-semibold text-base text-white mt-1 py-2 bg-red-500 text-center">
                                            Buy now
                                        </div>
                                    </a>
                                    <div class="ml-4 text-xl text-key font-semibold ">{{format_number
                                            this.product.SellPrice}}</div>
                                </div>
                            {{/if}}
                        </div>
                    </div>
                {{else}}
                    <p class="text-2xl font-semibold text-red-500">Sold/Time out</p>
                {{/if}}

                <!--                upload date-->
                <div class="flex justify-between mt-2 ">
                    <div class=" text-cyan-700 flex items-center
                    text-sm md:text-base font-semibold">Upload date: {{format_no_h this.product.UploadDate}}</div>
                    <div class="flex">
                        <div x-data="{ showModal : false }">
                            <button @click="showModal = !showModal"
                                    class="font-semibold text-md px-4 lg:px-6 py-2  border border-cyan-700 ml-2">View
                                Seller
                            </button>
                            <div x-show="showModal"
                                 class="fixed flex items-center justify-center overflow-auto z-50 bg-black bg-opacity-40 left-0 right-0 top-0 bottom-0">
                                <div x-show="showModal"
                                     class="bg-white shadow-2xl p-6 pb-4  w-auto mx-10 border border-cyan-700 rounded"
                                     @click.away="showModal = false"
                                     x-transition:enter="transition ease-out duration-300"
                                     x-transition:enter-start="opacity-0 transform scale-90"
                                     x-transition:enter-end="opacity-100 transform scale-100"
                                     x-transition:leave="transition ease-in duration-300"
                                     x-transition:leave-start="opacity-100 transform scale-100"
                                     x-transition:leave-end="opacity-0 transform scale-90">
                                    <div class=" h-24 w-24 bg-cyan-700 mx-auto rounded-full mb-4">
                                    </div>
                                    <div class="flex justify-between font-normal text-base space-x-8">
                                        <div>Name</div>
                                        <a class="hover:text-key" href="/profile/{{seller.Username}}"
                                        >{{seller.Name}}</a>
                                    </div>
                                    <div class="flex justify-between font-normal text-base">
                                        <div>Point</div>
                                        <div>{{seller.Rate}}</div>
                                    </div>

                                    <div class=" flex justify-center mt-4">
                                        <button @click="showModal = !showModal"
                                                class="font-semibold text-md  px-6 py-2  border border-cyan-700">OK
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{#if this.product.Onair}}
                            <div x-data="{ showModal : false }">
                                <button @click="showModal = !showModal"
                                        class="font-semibold text-md px-4 lg:px-6 py-2  border border-cyan-700 ml-2">
                                    View
                                    Bids
                                </button>
                                <div x-show="showModal"
                                     class="fixed text-gray-500 flex items-center justify-center overflow-auto z-50 bg-black bg-opacity-40 left-0 right-0 top-0 bottom-0">
                                    <div x-show="showModal"
                                         class="bg-white shadow-2xl p-6 pb-4 w-auto mx-10 border border-cyan-700 rounded"
                                         @click.away="showModal = false"
                                         x-transition:enter="transition ease-out duration-300"
                                         x-transition:enter-start="opacity-0 transform scale-90"
                                         x-transition:enter-end="opacity-100 transform scale-100"
                                         x-transition:leave="transition ease-in duration-300"
                                         x-transition:leave-start="opacity-100 transform scale-100"
                                         x-transition:leave-end="opacity-0 transform scale-90">
                                        {{#if bidding}}
                                            <table class="table-auto  w-full text-base">
                                                <thead>
                                                <tr>
                                                    <th class="">Time</th>
                                                    <th class="">Name</th>
                                                    <th class="">Price</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {{#each bidding}}
                                                    <tr class="">
                                                        <td class="pr-8 text-center">{{format_date Time}}</td>
                                                        <td class="px-8 text-center">{{Bidder}}</td>
                                                        <td class="pl-8 text-center">{{format_number Price}}</td>

                                                    </tr>
                                                {{/each}}
                                                </tbody>
                                            </table>
                                        {{else}}
                                            <div>No bids yet!</div>
                                        {{/if}}
                                        <div class="flex justify-center mt-4">
                                            <button @click="showModal = !showModal"
                                                    class="font-semibold text-md  px-6 py-2  border border-cyan-700">OK
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-nav col-span-8 col-start-3">
            <img src="/public/images/Product/{{this.product.BigCatName}}/{{this.product.CatName}}/{{this.product.ProID}}/1.jpg?auto=compress&w=480&q=90&dpr=2&updated_at=1635280285&h=320&fm=webp"
                 alt="Sunset in the mountains" class=" object-cover object-center h-full w-full max-h-28 px-4">
            <img src="/public/images/Product/{{this.product.BigCatName}}/{{this.product.CatName}}/{{this.product.ProID}}/2.jpg"
                 alt="Sunset in the mountains" class=" object-cover object-center h-full w-full max-h-28 px-4">
            <img src="/public/images/Product/{{this.product.BigCatName}}/{{this.product.CatName}}/{{this.product.ProID}}/3.jpg"
                 alt="Sunset in the mountains" class=" object-cover object-center h-full w-full max-h-28 px-4">
            <img src="/public/images/Product/{{this.product.BigCatName}}/{{this.product.CatName}}/{{this.product.ProID}}/4.jpg"
                 alt="Sunset in the mountains" class=" object-cover object-center h-full w-full max-h-28 px-4">
        </div>



        <!--        responsive------------------------------------------------------------------------------------------->
        <div class="col-span-full text-xs md:hidden">
            <div class="w-full">
                <div class=" border border-cyan-700 rounded-md p-4">
                    <div x-data="{ wish: false }">
                        <div class="flex items-center justify-between">
                            <div class="flex" id="duration">
                                <div class=" text-black text-base font-semibold flex">
                                    <h3 class="day">Time</h3>
                                    <p class="mr-1"> d</p>
                                </div>
                                <div class=" text-black text-base font-semibold flex">
                                    <h3 class="hour">Time</h3>
                                    <p class="mr-1">h</p>
                                </div>
                                <div class=" text-black text-base font-semibold flex">
                                    <h3 class="minute">Time</h3>
                                    <p class="mr-1"> m</p>
                                </div>
                                <div class=" text-black text-base font-semibold flex">
                                    <h3 class="second">Time</h3>
                                    <p class="mr-1"> s</p>
                                </div>
                            </div>

                            <form id="formAddWishList" action="/account/wishlist/add" method="post">
                                <input x-show="false" name="ProID" value= {{this.product.ProID}}>
                            </form>

                            <form id="formDelWishList" action="/account/wishlist/del" method="post">
                                <input x-show="false" name="ProID" value= {{this.product.ProID}}>
                            </form>

                            {{#if auth}}
                                {{#if this.inWish}}
                                    <a href="javascript: $('#formDelWishList').submit();">
                                        <i class="fa fa-heart fa-2x cursor-pointer" style="color:red"
                                           aria-hidden="true"></i>
                                    </a>
                                {{else}}
                                    <a href="javascript: $('#formAddWishList').submit();">
                                        <i class="fa fa-heart-o fa-2x cursor-pointer" aria-hidden="true"></i>
                                    </a>
                                {{/if}}
                            {{else}}
                                <a href="/login">
                                    <i class="fa fa-heart-o fa-2x cursor-pointer" aria-hidden="true"></i>
                                </a>
                            {{/if}}

                        </div>

                        {{#if auth}}
                            <div x-data="{ open: false }" class="">
                                <div x-show="open" class="grid grid-cols-3 gap-2 mb-2" @click.away="open = false"
                                     x-transition:enter="transition duration-300"
                                     x-transition:enter-start="opacity-0 transform scale-90"
                                     x-transition:enter-end="opacity-100 transform scale-100"
                                     x-transition:leave="transition duration-300"
                                     x-transition:leave-start="opacity-100 transform scale-100"
                                     x-transition:leave-end="opacity-0 transform scale-90">
                                    <input
                                            class="w-full col-span-2 border border-black
                                            rounded text-base font-semibold text-left px-2"
                                            type="number">
                                    <div x-data="{ showModal : false }">
                                        <div @click="showModal = !showModal"
                                             class="cursor-pointer font-semibold text-md  px-4 py-2  ml-2 bg-red-700
                                             text-white hover:bg-red-900 text-center">CONFIRM
                                        </div>
                                        <div x-show="showModal"
                                             class="fixed flex items-center justify-center overflow-auto z-50 bg-black bg-opacity-40 left-0 right-0 top-0 bottom-0">
                                            <div x-show="showModal"
                                                 class="bg-white shadow-2xl p-6 pb-4  w-auto mx-10 border border-cyan-700 rounded"
                                                 @click.away="showModal = false"
                                                 x-transition:enter="transition ease-out duration-300"
                                                 x-transition:enter-start="opacity-0 transform scale-90"
                                                 x-transition:enter-end="opacity-100 transform scale-100"
                                                 x-transition:leave="transition ease-in duration-300"
                                                 x-transition:leave-start="opacity-100 transform scale-100"
                                                 x-transition:leave-end="opacity-0 transform scale-90">
                                                <div>Are you sure?</div>
                                                <div class=" flex justify-end mt-4 space-x-4">
                                                    <button
                                                            class="font-semibold text-md  px-6 py-2  border border-cyan-700 text-white  bg-red-700">
                                                        Confirm
                                                    </button>
                                                    <div @click="showModal = !showModal"
                                                         class=" cursor-pointer font-semibold text-md  px-6 py-2 border border-cyan-700">
                                                        Cancel
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex items-center justify-between mt-1">
                                    <button @click=" open = !open " class=" w-1/3 py-2 bg-green-800">
                                        <div class="font-semibold text-base text-white rounded">Place bid</div>
                                    </button>
                                    <div class="ml-4 text-xl font-semibold ">{{format_number
                                            this.product.MaxPrice}}</div>
                                </div>
                            </div>
                        {{else}}
                            <div class=" flex items-center justify-between mt-1">
                                <a class=" w-1/3 py-2 bg-green-800" href="/login">
                                    <div class=" font-semibold text-base text-white rounded text-center">Place bid</div>
                                </a>
                                <div class="ml-4 text-xl font-semibold ">{{format_number this.product.MaxPrice}}</div>

                            </div>
                        {{/if}}

                        {{#if auth}}
                            <div class="mt-2 flex items-center justify-between">
                                <div x-data="{ showModal : false }" class="w-1/3">
                                    <div @click="showModal = !showModal"
                                         class="cursor-pointer font-semibold text-base text-white mt-1 py-2 bg-red-500 text-center">
                                        Buy now
                                    </div>
                                    <div x-show="showModal"
                                         class="fixed flex items-center justify-center overflow-auto z-50 bg-black bg-opacity-40 left-0 right-0 top-0 bottom-0">
                                        <div x-show="showModal"
                                             class="bg-white shadow-2xl p-6 pb-4  w-auto mx-10 border border-cyan-700 rounded"
                                             @click.away="showModal = false"
                                             x-transition:enter="transition ease-out duration-300"
                                             x-transition:enter-start="opacity-0 transform scale-90"
                                             x-transition:enter-end="opacity-100 transform scale-100"
                                             x-transition:leave="transition ease-in duration-300"
                                             x-transition:leave-start="opacity-100 transform scale-100"
                                             x-transition:leave-end="opacity-0 transform scale-90">
                                            <div>Are you sure?</div>
                                            <form>
                                                <div class=" flex justify-end mt-4 space-x-4">
                                                    <button
                                                            class="font-semibold text-md  px-6 py-2  border border-cyan-700 text-white  bg-red-700">
                                                        Buy now
                                                    </button>
                                                    <div @click="showModal = !showModal"
                                                         class=" cursor-pointer font-semibold text-md  px-6 py-2 border border-cyan-700">
                                                        Cancel
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="ml-4 text-xl font-semibold ">$274</div>
                            </div>
                        {{else}}
                            <div class=" flex items-center justify-between mt-1">
                                <a class=" w-1/3" href="/login">
                                    <div class="cursor-pointer font-semibold text-base text-white mt-1 py-2 bg-red-500 text-center">
                                        Buy now
                                    </div>
                                </a>
                                <div class="ml-4 text-xl font-semibold ">$274</div>

                            </div>
                        {{/if}}
                    </div>
                </div>

                <div class="flex justify-between mt-2 ">
                    <div class=" text-cyan-700 flex items-center text-sm md:text-base font-semibold">{{format_no_h
                            this.product.UploadDate}}</div>
                    <div class="flex">
                        <div x-data="{ showModal : false }">
                            <button @click="showModal = !showModal"
                                    class="font-semibold text-md px-6 py-2  border border-cyan-700 ml-2">View
                                Seller
                            </button>
                            <div x-show="showModal"
                                 class="fixed flex items-center justify-center overflow-auto z-50 bg-black bg-opacity-40 left-0 right-0 top-0 bottom-0">
                                <div x-show="showModal"
                                     class="bg-white shadow-2xl p-6 pb-4  w-auto mx-10 border border-cyan-700 rounded"
                                     @click.away="showModal = false"
                                     x-transition:enter="transition ease-out duration-300"
                                     x-transition:enter-start="opacity-0 transform scale-90"
                                     x-transition:enter-end="opacity-100 transform scale-100"
                                     x-transition:leave="transition ease-in duration-300"
                                     x-transition:leave-start="opacity-100 transform scale-100"
                                     x-transition:leave-end="opacity-0 transform scale-90">
                                    <div class=" h-24 w-24 bg-cyan-700 mx-auto rounded-full mb-4">
                                    </div>
                                    <div class="flex justify-between font-normal text-base space-x-8">
                                        <div>Name</div>
                                        <div>{{seller.Name}}</div>
                                    </div>
                                    <div class="flex justify-between font-normal text-base">
                                        <div>Point</div>
                                        <div>{{seller.Rate}}</div>
                                    </div>

                                    <div class=" flex justify-center mt-4">
                                        <button @click="showModal = !showModal"
                                                class="font-semibold text-md  px-6 py-2  border border-cyan-700">OK
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div x-data="{ showModal : false }">
                            <button @click="showModal = !showModal"
                                    class="font-semibold text-md px-6 py-2  border border-cyan-700 ml-2">View Bids
                            </button>
                            <div x-show="showModal"
                                 class="fixed text-gray-500 flex items-center justify-center overflow-auto z-50 bg-black bg-opacity-40 left-0 right-0 top-0 bottom-0">
                                <div x-show="showModal"
                                     class="bg-white shadow-2xl p-6 pb-4 w-auto mx-10 border border-cyan-700 rounded"
                                     @click.away="showModal = false"
                                     x-transition:enter="transition ease-out duration-300"
                                     x-transition:enter-start="opacity-0 transform scale-90"
                                     x-transition:enter-end="opacity-100 transform scale-100"
                                     x-transition:leave="transition ease-in duration-300"
                                     x-transition:leave-start="opacity-100 transform scale-100"
                                     x-transition:leave-end="opacity-0 transform scale-90">
                                    {{#if bidding}}
                                        <table class="table-auto  w-full text-base">
                                            <thead>
                                            <tr>
                                                <th class="">Time</th>
                                                <th class="">Name</th>
                                                <th class="">Price</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <!--                                            <tr class=" text-cyan-700">-->
                                            <!--                                                <td class="pr-8 text-center">{{format_date
                                                    biddingHighest.Time}}</td>-->
                                            <!--                                                <td class="px-8 text-center">{{biddingHighest.Bidder}}</td>-->
                                            <!--                                                <td class="pl-8 text-center" text-center><i class="fa fa-arrow-up animate-bounce"-->
                                            <!--                                                                           aria-hidden="true"></i>{{format_number
                                                    biddingHighest.Price}}</td>-->
                                            <!--                                            </tr>-->
                                            {{#each bidding}}
                                                <tr class="">
                                                    <td class="pr-8 text-center">{{format_date Time}}</td>
                                                    <td class="px-8 text-center">{{Bidder}}</td>
                                                    <td class="pl-8 text-center">{{format_number Price}}</td>

                                                </tr>
                                            {{/each}}
                                            </tbody>
                                        </table>
                                    {{else}}
                                        <div>No bids yet</div>
                                    {{/if}}
                                    <div class="flex justify-center mt-4">
                                        <button @click="showModal = !showModal"
                                                class="font-semibold text-md  px-6 py-2  border border-cyan-700">OK
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="flex mt-8 border-t border-cyan-700">
        <div class="bg-cyan-700 px-6 py-3 font-semibold text-base text-white">Product Details</div>
    </div>
    <div class="text-sm mt-4 max-h-80 overflow-auto">
        {{{this.description}}}
    </div>

    <div class="flex mt-8 border-t border-cyan-700">
        <div class="bg-cyan-700 px-6 py-3 font-semibold text-base text-white">Related Products</div>
    </div>
    <div class="multiple-items-small mt-4">
        {{#each this.related_products}}
            {{> card/cardRelatedProduct}}
        {{/each}}
    </div>
</div>