<div class="container mx-auto xl:px-10">
    <div class="flex justify-between items-center my-4">
        <div class="text-2xl font-semibold text-cyan-700">Search by </div>
        <div class="">
            <select class="form-select block p-1 border border-cyan-700 text-center ">
                <option>Giá tăng</option>
                <option>Thời gian giảm</option>
            </select>
        </div>
    </div>
    <div class="grid grid-cols-1 gap-4 xl:grid-cols-4 md:grid-cols-3 sm:grid-cols-2">
        {{#each this.products}}
            {{> card/card}}
        {{/each}}
    </div>
    <div class="flex justify-end mt-8">
        <div class="h-12 w-12 mr-1 flex justify-center items-center rounded cursor-pointer">
            {{#if isFirst}}
            {{else}}
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
            {{/if}}
        </div>
        <div class="flex h-12 font-medium rounded ">
            {{#each this.page_numbers}}
                {{#if isCurrent}}
                    <div
                            class="font-bold w-12 md:flex justify-center items-center hidden  cursor-pointer leading-5 transition duration-150 ease-in  rounded bg-teal-600 text-cyan-700">
                        {{value}}</div>
                {{else}}
                    <div
                            class="w-12 md:flex justify-center items-center hidden  cursor-pointer leading-5 transition duration-150 ease-in  rounded  ">
                        <a class="page-link" href="/search?page={{value}}">{{value}}</a>
                    </div>
                {{/if}}
            {{/each}}
            <div
                    class="w-12 h-12 md:hidden flex justify-center items-center cursor-pointer leading-5 transition duration-150 ease-in rounded bg-teal-600 text-white">
                2
            </div>
        </div>
        <div class="h-12 w-12 ml-1 flex justify-center items-center rounded  cursor-pointer">
            {{#if isLast}}
            {{else}}
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            {{/if}}
        </div>
    </div>
</div>