{{#if this.empty}}
    <div class="w-full max-w-4xl mx-auto mt-8">
        No product.
    </div>
{{else}}
<div class="w-full  max-w-4xl mx-auto mt-8 overflow-auto">
    <div class="flex justify-start">
        <div class="bg-white flex items-center pl-4 pr-2 border border-gray-200 shadow-lg py-2">
            <input type="search" class="w-64 px-1 h-auto focus:outline-none " placeholder="Search">
            <i class="fa fa-search px-2 cursor-pointer" aria-hidden="true"></i>
        </div>
    </div>
    <div class="p-3 bg-white shadow-lg rounded-sm border border-gray-200 mt-4">
        <div class="overflow-x-auto">
            <table class="table-auto w-full">
                <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
                <tr>
                    <th class="p-2 whitespace-nowrap">
                        <div class="font-semibold text-left">PRODUCT NAME</div>
                    </th>
                    <th class="p-2 whitespace-nowrap">
                        <div class="font-semibold text-left">END DATE</div>
                    </th>
                    <th class="p-2 whitespace-nowrap">
                        <div class="font-semibold text-left">CURRENT WINNER</div>
                    </th>
                    <th class="p-2 whitespace-nowrap">
                        <div class="font-semibold text-left">CURRENT PRICE</div>
                    </th>
                    <th class="p-2 whitespace-nowrap">
                        <div class="font-semibold text-center">&nbsp;</div>
                    </th>
                </tr>
                </thead>

                {{#each this.product}}
                <tbody class="text-sm divide-y divide-gray-100">
                <tr>
                    <td class="p-2 whitespace-nowrap">
                        <div class="font-medium text-gray-800">{{ProName}}</div>
                    </td>

                    <td class="p-2 whitespace-nowrap">
                        <div class="text-left">{{format_date EndDate}}</div>
                    </td>
                    <td class="p-2 whitespace-nowrap">
                        <div class="text-left">{{CurrentWinner}}</div>
                    </td>
                    <td class="p-2 whitespace-nowrap">
                        <div class="text-left">{{format_number MaxPrice}}</div>
                    </td>
                    <td class="p-2 whitespace-nowrap flex justify-center space-x-4">
                        {{#if FinalBid}}
                            <div class=" cursor-pointer text-white font-semibold
                                    px-6 py-1 bg-gray-400
                                    border shadow">Cancel bid
                            </div>
                        {{else}}
                            <form method="post" action="/seller/cancel">
                                <input hidden name="ProID" value="{{ProID}}">
                                <input hidden name ="Bidder" value = "{{CurrentWinner}}">
                                <button type ="submit"
                                        class=" cursor-pointer text-white font-semibold
                                    px-6 py-1 bg-red-600 hover:bg-red-700
                                    border shadow">Cancel bid
                                </button>
                            </form>
                        {{/if}}
                    </td>
                </tr>
                </tbody>
                {{/each}}
            </table>
        </div>
    </div>
    <div class="flex justify-end mt-5">
        <div class="h-12 w-12 mr-1 flex justify-center items-center rounded cursor-pointer">
            {{#if isFirst}}
            {{else}}
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
            {{/if}}
        </div>
        <div class="flex h-12 font-medium rounded ">
            {{#each this.page_numbers}}
                {{#if isCurrent}}
                    <div
                            class="font-bold w-12 md:flex justify-center items-center hidden  cursor-pointer leading-5 transition duration-150 ease-in  rounded bg-teal-600 text-cyan-700">
                        {{value}}</div>
                {{else}}
                    <div
                            class="w-12 md:flex justify-center items-center hidden  cursor-pointer leading-5 transition duration-150 ease-in  rounded  ">
                        <a class="page-link" href="?page={{value}}">{{value}}</a>
                    </div>
                {{/if}}
            {{/each}}
            <div
                    class="w-12 h-12 md:hidden flex justify-center items-center cursor-pointer leading-5 transition duration-150 ease-in rounded bg-teal-600 text-white">
                2
            </div>
        </div>
        <div class="h-12 w-12 ml-1 flex justify-center items-center rounded  cursor-pointer">
            {{#if isLast}}
            {{else}}
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            {{/if}}
        </div>
    </div>
</div>
{{/if}}