<div class="relative">
    <div class="border border-gray-400 shadow group relative text-sm overflow-hidden w-full">
        <a href="/product/detail/{{ProID}}">
            <div class=" relative">
                <img class="object-cover h-52 w-full border-b border-gray-300"
                     src="/public/images/Product/{{BigCatName}}/{{CatName}}/{{ProID}}/1.jpg"
                     alt="Sunset in the mountains">
                <div
                        class=" absolute right-0 bottom-0 bg-gray-200 text-black font-semibold px-3 py-1 m-2 rounded-full border border-cyan-600">
                    <h3 id="duration" class="testing">{{format_relative EndDate}}</h3>
                </div>
                <div
                        class=" absolute left-0 bottom-0 bg-gray-200 text-black font-semibold px-3 py-1 m-2 rounded-full border border-cyan-600">
                    {{countBidding}} bids
                </div>
            </div>
            <div class="m-5 relative ">
                <div class=" items-center font-semibold text-sm text-cyan-700 truncate">{{ProName}}</div>
                <div class="flex justify-between text-red-600 font-semibold text-base mt-2 items-center">
                    <div class="text-xs">BUY NOW:</div>
                    <div>{{format_number SellPrice}} VND</div>
                </div>
                <div class=" flex justify-between mt-2 font-light text-xs">
                    <div class="">START: {{format_number StartPrice}}</div>
                    <div class="">UPLOAD: {{format_no_h UploadDate}}</div>
                </div>

                <div class=" h-1 border-t border-gray-400 mt-2"></div>

                <div class="flex text-xs mt-1 items-center justify-center">
                    <div class=" font-thin ml-1">BY</div>
                    <div class=" uppercase font-semibold ml-1 text-cyan-800 truncate">{{Seller}}</div>
                </div>

            </div>

            {{#if this.noBid}}
                <div
                        class=" absolute bottom-0 w-full group-hover:visible group-hover:opacity-100 invisible opacity-0
                    bg-gray-300 duration-700 delay-200 mb-8 group-hover:mb-0 p-5">
                    <div class="flex justify-left items-center font-semibold text-sm">
                        <div class="text-yellow-600">START PRICE</div>
                    </div>
                    <div class="flex justify-between text-yellow-600 font-semibold text-base mt-2">
                        <div class="">{{format_number StartPrice}} VND</div>
                    </div>
                    <div class=" mt-2 font-light text-xs">
                        <div class="">END DATE: {{format_date EndDate}}</div>
                    </div>
                    <div class=" h-1 border-t border-gray-400 mt-2"></div>

                    <div class="flex text-xs mt-1 items-center justify-center">
                        <div class=" font-thin ml-1">BY</div>
                        <div class=" uppercase font-semibold ml-1 truncate">{{Seller}}</div>

                    </div>
                </div>
            {{else}}
                <div
                        class=" absolute bottom-0 w-full group-hover:visible group-hover:opacity-100 invisible opacity-0
                    bg-gray-300 duration-700 delay-200 mb-8 group-hover:mb-0 p-5">
                    <div class="flex items-center font-semibold text-sm">
                        <div class="text-yellow-600">CURRENT PRICE</div>
                    </div>
                    <div class="flex justify-between text-yellow-600 font-semibold text-base mt-2">
                        <div class="">{{format_number biddingHighest.Price}} VND</div>
                    </div>
                    <div class=" mt-2 font-light text-xs">
                        <div class="flex font-semibold"><div class="mr-1 font-thin">On</div> {{format_date biddingHighest.Time}}</div>
                    </div>

                    <div class=" h-1 border-t border-gray-400 mt-2"></div>

                    <div class="flex text-xs mt-1 items-center justify-center">
                        <div class=" font-thin ml-1">BY</div>
                        <div class=" uppercase font-semibold ml-1 truncate text-cyan-700">{{format_name biddingHighest.Name}}</div>
                    </div>
                </div>
            {{/if}}
        </a>
    </div>

    {{#if user}}
        {{#if this.isWish}}
            <a data-id="{{ProID}}" class="delItemWish" href="#" role="button">
                <i class="absolute top-0 right-0 fa fa-heart fa-2x cursor-pointer" style="color:red"
                   aria-hidden="true"></i>
            </a>
        {{else}}
            <a data-id="{{ProID}}" class="addItemWish" href="#" role="button">
                <i class="absolute top-0 right-0 fa fa-heart-o fa-2x cursor-pointer" aria-hidden="true"></i>
            </a>
        {{/if}}
    {{else}}
        <a class="isLogin">
            <i class="absolute top-0 right-0 fa fa-heart-o fa-2x cursor-pointer" aria-hidden="true"></i>
        </a>
    {{/if}}

    {{#if isNew}}
        <div class="absolute top-7 -left-2 h-3 w-2 bg-cyan-600"></div>
        <div class="absolute top-8 -left-2 h-3 w-2 bg-black rounded-l-full"></div>
        <div class="absolute top-0 -left-2 bg-cyan-600 px-4 py-1 rounded-r-lg rounded-tl-lg text-white font-semibold h-8">New</div>
    {{/if}}

</div>
