<a href="/product">
  <div class="border border-gray-300 shadow group relative text-sm overflow-hidden w-full">
    <div class=" relative">
      <img class="object-cover h-52 w-full border-b border-gray-300"
        src="/public/images/Product/{{BigCatName}}/{{CatName}}/{{ProID}}/1.jpg"
        alt="Sunset in the mountains">
      <div
        class=" absolute right-0 bottom-0 bg-gray-200 text-black font-semibold px-3 py-1 m-2 rounded-full border border-cyan-600">
        00:03:09
      </div>
      <div
        class=" absolute left-0 bottom-0 bg-gray-200 text-black font-semibold px-3 py-1 m-2 rounded-full border border-cyan-600">
        95
      </div>
    </div>
    <div class="m-5 relative ">
      <div class="flex justify-between items-center font-semibold text-sm text-cyan-700">
        <div class="">{{ProName}}</div>
        <div class="text-red-600">{{format_number OriginPrice}}</div>
      </div>
      <div class=" flex justify-between mt-2 font-light text-xs">
        <div class="">Buy Now: {{format_number Price_BuyNow}}</div>
        <div class="">{{format_date EndDate}}</div>
      </div>

      <div class=" h-1 border-t border-gray-400 mt-2"></div>

      <div class="flex text-xs mt-1 items-center justify-center">
        <div class="h-6 w-6 rounded-full bg-black"></div>
        <div class=" font-thin ml-1">BY</div>
        <div class=" uppercase font-semibold ml-1 text-cyan-800">{{Seller}}</div>
      </div>

    </div>
    <div
      class=" absolute bottom-0 w-full group-hover:visible group-hover:opacity-100 invisible opacity-0 bg-gray-300 duration-700 delay-200 mb-8 group-hover:mb-0 p-5">
      <div class="flex justify-between items-center font-semibold text-sm">
        <div class="text-yellow-600">HIGHEST</div>
        <div class="text-yellow-600">$900.000</div>
      </div>
      <div class=" flex justify-between mt-2 font-light text-xs">
        <div class="">From HCM</div>
        <div class="">July 17, 2016</div>
      </div>

      <div class=" h-1 border-t border-gray-400 mt-2"></div>

      <div class="flex text-xs mt-1 items-center justify-center">
        <div class="h-6 w-6 rounded-full bg-black"></div>
        <div class=" font-thin ml-1">BY</div>
        <div class=" uppercase font-semibold ml-1">hoang nhu thanh</div>
      </div>
    </div>
  </div>
</a>