<head>
    <meta charset="UTF-8">
    <style>
        #summary {
            background-color: #f6f6f6;
            border-color: #6B7280;
        }
    </style>
</head>

<body>
<div class="flex flex-wrap items-center space-x-4 p-1 mb-5 pr-4">
    {{#if this.empty}}
        <div>
            <div class="font-semibold mb-2 text-lg text-gray-700 tracking-wide
                h-10 flex items-center px-4">
                Currently bidding
            </div>
            <div class="text-gray-700 h-10 ml-5">You have not placed any bid!</div>

            <a href="/" class="ml-5 bg-key hover:bg-cyan-800 text-white font-semibold mt-5 py-1 px-3 rounded">
                <i class="fa fa-arrow-right"></i>
                <span class="text-white ml-2">Bid now</span>
            </a>
        </div>
    {{else}}
<!--        <div class="font-semibold mb-2 text-lg text-gray-700 tracking-wide-->
<!--                h-10 flex items-center px-4">-->
<!--            Currently bidding-->
<!--        </div>-->
        <div class="flex w-full pl-5">
            <div class="divide-y w-full pr-4">
                <div class="flex py-3">
                    <h3 class="font-semibold text-gray-600 text-sm
                h-5 flex item-center uppercase w-3/4">Currently bidding</h3>
                    <h3 class="font-semibold h-5 text-center
                    text-gray-600 text-sm uppercase w-1/4">Current Price</h3>
                </div>

                {{#each this.products}}
                    <div class="items-center flex
                    {{#if selfWin}}
                        bg-green-50
                    {{/if}}
                    py-5 pl-2">
                        <div class="flex w-3/4 items-center">
                            <div class="w-20 h-20 border border-black">
                                <img src="/public/images/Product/{{BigCatName}}/{{CatName}}/{{ProID}}/1.jpg?auto=compress&w=100&q=90&dpr=2&updated_at=1635280285&h=320&fm=webp"
                                     alt="Sunset in the mountains" class=" object-cover object-center h-full w-full">
                            </div>

                            <div class="flex ml-7 flex-col justify-between flex-grow">
                                <a target="_blank" href="/product/detail/{{ProID}}"
                                   class="font-bold hover:text-key text-sm py-1">{{ProName}}</a>
                                <span class="font-semibold text-gray-500 text-xs py-1">Status: <span
                                        class="text-black">{{ProState}}</span></span>
                            </div>
                        </div>
                        {{#if allowBuyNow}}
                            <span class="text-center w-1/4 font-semibold text-red-700 text-sm">{{format_number
                                    CurrentPrice}} VND</span>
                        {{else}}
                            <span class="text-center w-1/4 font-semibold text-red-700 text-sm">Not allowed</span>
                        {{/if}}
                    </div>
                {{/each}}
            </div>
<!--            <div class="w-2/5 flex">-->
<!--                <div>-->
<!--                    <div class="border border-key bg-gray-100 py-3 px-8">-->
<!--                        <h1 class="font-semibold mb-3 text-lg text-gray-700 tracking-wide-->
<!--                h-5 flex item-center">Summary</h1>-->
<!--                        <div class="flex justify-between pt-5 mb-5 border-t">-->
<!--                            <span class="font-semibold text-sm uppercase">Items ({{this.amountProduct}})</span>-->
<!--                        </div>-->
<!--                        &lt;!&ndash;                    <div class="flex justify-between pt-5 mb-5 border-t">&ndash;&gt;-->
<!--                        &lt;!&ndash;                        <span class="text-sm">Standard shipping</span>&ndash;&gt;-->
<!--                        &lt;!&ndash;                        <span class="text-sm">10$</span>&ndash;&gt;-->
<!--                        &lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                        <div class="border-t">-->
<!--                            <div class="flex font-semibold justify-between py-6 text-sm uppercase">-->
<!--                                <span>Total</span>-->
<!--                                <span class="ml-5 text-red-700">{{format_number this.totalPrice}} VND</span>-->
<!--                            </div>-->

<!--                            <form method="post" action="/account/cart/checkout">-->
<!--                                <input hidden name = "SellerMail" value="{{SellerMail}}">-->
<!--                                <button type="submit"-->
<!--                                        class="bg-key font-semibold hover:bg-cyan-800 py-3 text-sm text-white uppercase w-full">-->
<!--                                    BUY NOW-->
<!--                                </button>-->
<!--                            </form>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>

        <div class="flex justify-end mt-5">
            <div class="h-12 w-12 mr-1 flex justify-center items-center rounded cursor-pointer">
                {{#if isFirst}}
                {{else}}
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                {{/if}}
            </div>
            <div class="flex h-12 font-medium rounded ">
                {{#each this.page_numbers}}
                    {{#if isCurrent}}
                        <div
                                class="font-bold w-12 md:flex justify-center items-center hidden  cursor-pointer leading-5 transition duration-150 ease-in  rounded bg-teal-600 text-cyan-700">
                            {{value}}</div>
                    {{else}}
                        <div
                                class="w-12 md:flex justify-center items-center hidden  cursor-pointer leading-5 transition duration-150 ease-in  rounded  ">
                            <a class="page-link" href="?page={{value}}">{{value}}</a>
                        </div>
                    {{/if}}
                {{/each}}
                <div
                        class="w-12 h-12 md:hidden flex justify-center items-center cursor-pointer leading-5 transition duration-150 ease-in rounded bg-teal-600 text-white">
                    2
                </div>
            </div>
            <div class="h-12 w-12 ml-1 flex justify-center items-center rounded  cursor-pointer">
                {{#if isLast}}
                {{else}}
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                {{/if}}
            </div>
        </div>

    {{/if}}
</div>
</body>