<head>
    <meta charset="UTF-8">
    <style>
        #summary {
            background-color: #f6f6f6;
            border-color: #6B7280;
        }
    </style>
</head>

<body>
<div class="flex flex-wrap items-center space-x-4 p-1 mb-5 pr-4">
    <div class="font-semibold mb-2 text-lg text-gray-700 tracking-wide
                h-10 flex items-center px-4">
        My cart
    </div>
    <div class="flex w-full">
        <div class="w-3/5 divide-y w-full pr-4">
            <div class="flex py-3">
                <h3 class="font-semibold text-gray-600 text-xs
                h-5 flex item-center uppercase w-3/4">Product Details</h3>
                <h3 class="font-semibold h-5 text-center
            text-gray-600 text-xs uppercase w-1/4">Price</h3>
            </div>

            {{#each this.products}}
                <div class="items-center flex py-5 pl-2">
                    <div class="flex w-3/4">
                        <div class="w-20">
                            <img src="/public/images/Product/{{BigCatName}}/{{CatName}}/{{ProID}}/1.jpg?auto=compress&w=100&q=90&dpr=2&updated_at=1635280285&h=320&fm=webp"
                                 alt="Sunset in the mountains" class=" object-cover object-center h-full w-full">
                        </div>

                        <div class="flex ml-7 flex-col justify-between flex-grow">
                            <a href ="/product/detail/{{ProID}}" class="font-bold hover:text-key text-sm py-1">{{ProName}}</a>
                            <span class="text-key text-xs py-1">Seller: {{Seller}}</span>
                            <a href="#" class="font-semibold py-1 text-red-700 hover:text-red-900 text-xs">
                                Remove</a>
                        </div>
                    </div>
                    <span class="text-center w-1/4 font-semibold text-red-700 text-sm">{{format_number SellPrice}}</span>
                </div>
            {{/each}}
        </div>
        <div class="w-2/5 flex">
            <div>
                <div class="border border-key bg-gray-100 py-3 px-8">
                    <h1 class="font-semibold mb-3 text-lg text-gray-700 tracking-wide
                h-5 flex item-center">Order Summary</h1>
                    <div class="flex justify-between pt-5 mb-5 border-t">
                        <span class="font-semibold text-sm uppercase">Items (3)</span>
                        <span class="font-semibold text-sm">$1200</span>
                    </div>
                    <!--                    <div class="flex justify-between pt-5 mb-5 border-t">-->
                    <!--                        <span class="text-sm">Standard shipping</span>-->
                    <!--                        <span class="text-sm">10$</span>-->
                    <!--                    </div>-->
                    <div class="border-t">
                        <div class="flex font-semibold justify-between py-6 text-sm uppercase">
                            <span>Total cost</span>
                            <span>$1210</span>
                        </div>
                        <button class="bg-key font-semibold hover:bg-cyan-800 py-3 text-sm text-white uppercase w-full">
                            Checkout
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>